/*<-----------------------Starter variables-------------------->*/
*{
    box-sizing: border-box;
    font-size: 15px; 
    font-family: "Roboto", sans-serif;
    color:rgb(0, 0, 0);   
}
body{
    width: 1366px;
    height: 2000px;
    margin: 0 auto;
    background-color: #DDDDDD;
}
/* <-----------------------ONU links-------------------------->*/
#text_top{
    width: 1366px; 
    height: 50px; 
    padding:10px;
    background-color: rgb(126, 46, 21);
}
#text_top a{
    text-decoration: wavy;
}
#house{
    float:left;
    margin-left:30px;
}
small{
    margin-left:5px;
    margin-top:30px;
    font-size: 15px; 
}
header{

    width: 1366px;
    height:150px;   
    background-color: #B9D532;
    padding: 50px 0 0 0;
    
}
/* <-----------------------Navigation-------------------------->*/
nav {
    
    background-color: #B9D532;
    margin-bottom: 20px;
    margin-left:100px;
    width:950px;
    float:left;
}
.dropbtn {
    background-color: #B9D532;
    color: #EE3424;
    font-weight: 600;
    padding: 0 30px;
    height:40px;
    border: none;
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9c9;
    min-width: 460px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.692);
    z-index: 1;
}
.dropdown-content a {
    padding: 20px;
    color: black;
    height: 70px; 
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgba(207, 207, 207, 0.443);
}
.dropdown:hover .dropdown-content {
    
    bottom: height;
    display:block;
}
.dropdown:hover .dropbtn {
    transition: .25s;
    background-color: #f9f9f9;
    color: black;  
}
/*<-----------------------Dropdown arrows--------------------->*/
.fa-solid{
    position: absolute; 
    margin-left:5px;
    color: rgb(126, 21, 21);
}
/* <-----------------------Contacts-------------------------->*/
.contactos{
    margin-left:20px;
    display:inline-block;
}
/*<------------------------Carousel------------------------------->*/
.mySlides {
    box-shadow: 10px 10px 0px 0px rgb(49, 110, 167);
    display: none;}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    
    max-width: 1366px;
    float:left;
    margin-left:60px;
    margin-top:20px; 
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position:absolute;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 32px;
    border-radius: 0 3px 3px 0;
    width:auto;
    padding:16px;
   
    top:55%;
    scale: 400%;
    opacity: 0%;
    user-select: none;
  }
/* Position the "next button" to the right */
.next {
    margin-left:1150px;
    border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 20px;
  margin-top:600px; 
  position: absolute;
  top: 0;
  margin-left:600px;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*<------------------------Images------------------------------->*/
section{
    margin-left:200px;
    width:1366px; 
    float:left;

}
strong{
    font-size: 20px;
}
h1{
    text-align: center;
    margin-right:400px;
    
}
.cuadro_pequeno{
    
    display: inline-block;
    width: 200px; 
    height:200px; 
    background-color: rgb(253, 212, 75);
    
    margin-top: 40px; 
    margin-left:80px;
    box-shadow: 10px 10px 0px 0px rgb(49, 110, 167);
    margin-bottom: 100px; 
}
/*<------------------------Footer------------------------------->*/
footer{
    float:left;
    background-color: #a0b922;
    height:400px;
    width:1366px;
   padding: 100px 0 0 0;
}
.footer_img{
    margin-right:50px;
    margin-left:78px;
    display:inline-block;
}

